.remove{
  display:none;
  transition: 0.5 ms
  ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fullSize{
  width: 100%;
}
.submitCari{
  border: none;
  background: none;
}
.section .section-header{
  position: sticky;
}

.text-card{
  margin-top: 0.5rem;
  margin-bottom:-0.5rem;
  text-align: center;
  font-size:small;
  font-weight: bold;
}

.modalBaru{
  /* z-index: 1060; */
  position:absolute;
}

.navbarMarker{
  list-style: none;
}

.kanan{
  display: flex;
  margin-left: auto;
}
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }