.remove{
  display:none;
  transition: 0.5 ms
  ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fullSize{
  width: 100%;
}
.submitCari{
  border: none;
  background: none;
}
.section .section-header{
  position: sticky;
}

.text-card{
  margin-top: 0.5rem;
  margin-bottom:-0.5rem;
  text-align: center;
  font-size:small;
  font-weight: bold;
}

.modalBaru{
  /* z-index: 1060; */
  position:absolute;
}

.navbarMarker{
  list-style: none;
}

.kanan{
  display: flex;
  margin-left: auto;
}
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

.slider_text{
  position: absolute;
  top: 30%;
  left: 10%;

}
.slider_text h2 {
  color: white;
  font-weight: bolder;
}
.slider_text p {
  color: white;
  width: 70%;
  margin-top: 1rem;
}
.blog_link{
  position: absolute;
  top: 160px;
  right: 50px;
  text-decoration: none;
}
.blog_link:hover{
  color: cornflowerblue;
  /* text-decoration: underline; */
}
.cover{
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.cover img{
  width:100%;
}
.cover-rating{
  width: 80%;
  overflow: hidden;
}
.v-align-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h-align-center{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxGaleri{
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.boxGaleri:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}
.boxGaleri img{
  width: 100%;
  height: auto;
  margin: 10px;
}
.button {
  position: absolute;
  top: 35%;
  left: 35%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.boxGaleri:hover .button {
  opacity: 1;
}