.remove{
  display:none;
  transition: 0.5 ms
  ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fullSize{
  width: 100%;
}
.submitCari{
  border: none;
  background: none;
}
.section .section-header{
  position: sticky;
}

.text-card{
  margin-top: 0.5rem;
  margin-bottom:-0.5rem;
  text-align: center;
  font-size:small;
  font-weight: bold;
}

.modalBaru{
  /* z-index: 1060; */
  position:absolute;
}

.navbarMarker{
  list-style: none;
}

.kanan{
  display: flex;
  margin-left: auto;
}